style(type="text/css").
  h1 {
    text-align: center;

  }

  a {
    text-decoration: none;
    color: black;
  }

  ul {
    list-style-type: none;
  }

  #container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .info {
    border: 1px solid black;
    width: 45%;
    padding:5px; 
  }

html
    head
      title=title
    body
        h1 Welcome to your profile, #{user.username}!
        |
        #container
            #personal.info
                h3 Personal information
                p Name: #{user.name}
                p Email: #{user.email}
                p Phone: #{user.phone}
                p Website: #{user.website}
                p Address:
                  p Street: #{user.address.street}
                  p Suite: #{user.address.suite}
                  p City: #{user.address.city}
                  p Zip: #{user.address.zipcode}

            #company.info
                h3 Company info
                p Company: #{user.company.name}
                p Catch Phrase: #{user.company.catchPhrase}
                p Objective: #{user.company.bs}

